@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
  font-family: 'Josefin Sans', sans-serif;
  color: #f2f2f2;
}

body{
  background-image:url("images/background.jpg");
  background-size:cover;
  background-repeat:no-repeat;
}

input {
  background-color: rgba(0,0,0,0.75);
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #0000ff;
  border-radius: 32px;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 2px solid #66ff33;
}

input[type=text]:hover {
  border: 2px solid #66ff33;
}

input[type=password], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #0000ff;
  border-radius: 32px;
  box-sizing: border-box;
}

input[type=password]:focus {
  border: 2px solid #66ff33;
}

input[type=password]:hover {
  border: 2px solid #66ff33;
}

input[type=submit] {
  background-color: #0000ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 32px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #66ff33;
  color: black;
}

input[type=submit]:focus {
  background-color: #66ff33;
  color: black;
}

div {
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
}

a {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #80b3ff;
  color: #80b3ff;
  border-radius: 32px;
  box-sizing: border-box;
  background-color: black;
}

a:focus {
  color: #66ff33;
  border: 2px solid #66ff33;
}

a:hover {
  color: #66ff33;
  border: 2px solid #66ff33;
}
#loading {
  background: url("images/loading.gif") no-repeat center center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999999;
}
